.main form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #1a1a2e;
}

.main form label{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main form input{
    outline: none;
    border: none;
    background-color: #c2c2c2;
    color: #1a1a2e;
    padding: 5px;
    border-radius: 5px;
}

.buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.buttons button{
    padding: 5px 10px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}

.closeButton{
    background-color: #f74646;
}

.submitButton{
    background-color: #12632d;

}